.DS_Store
.gradle/
.idea
.settings
**/build/
**/bin/
*/.gradle/
*/.idea/*
**/.vscode/*
**/out/
**/logs/
**/node_modules/
corda-nodeinfo/corda-nodeinfo.iml
*~*
venv/
data/
auto-exp-*/
performance_scripts/lib
performance_scripts/lib64
performance_scripts/share
build_local/